@font-face {
  font-family: 'UbuntuMedium';
  src: url("../fonts/fonts/UbuntuMedium.eot");
  src: url("../fonts/fonts/UbuntuMedium.eot") format("embedded-opentype"), url("../fonts/fonts/UbuntuMedium.woff2") format("woff2"), url("../fonts/fonts/UbuntuMedium.woff") format("woff"), url("../fonts/fonts/UbuntuMedium.ttf") format("truetype"), url("../fonts/fonts/UbuntuMedium.svg#UbuntuMedium") format("svg"); }

@font-face {
  font-family: 'UbuntuB';
  src: url("../fonts/fonts/UbuntuB.eot");
  src: url("../fonts/fonts/UbuntuB.eot") format("embedded-opentype"), url("../fonts/fonts/UbuntuB.woff2") format("woff2"), url("../fonts/fonts/UbuntuB.woff") format("woff"), url("../fonts/fonts/UbuntuB.ttf") format("truetype"), url("../fonts/fonts/UbuntuB.svg#UbuntuB") format("svg"); }

@font-face {
  font-family: 'UbuntuLight';
  src: url("../fonts/fonts/UbuntuLight.eot");
  src: url("../fonts/fonts/UbuntuLight.eot") format("embedded-opentype"), url("../fonts/fonts/UbuntuLight.woff2") format("woff2"), url("../fonts/fonts/UbuntuLight.woff") format("woff"), url("../fonts/fonts/UbuntuLight.ttf") format("truetype"), url("../fonts/fonts/UbuntuLight.svg#UbuntuLight") format("svg"); }

@font-face {
  font-family: 'UbuntuRegular';
  src: url("../fonts/fonts/UbuntuRegular.eot");
  src: url("../fonts/fonts/UbuntuRegular.eot") format("embedded-opentype"), url("../fonts/fonts/UbuntuRegular.woff2") format("woff2"), url("../fonts/fonts/UbuntuRegular.woff") format("woff"), url("../fonts/fonts/UbuntuRegular.ttf") format("truetype"), url("../fonts/fonts/UbuntuRegular.svg#UbuntuRegular") format("svg"); }

@font-face {
  font-family: "Lifehack";
  src: url("../fonts/LifehackMedium.otf") format("opentype"); }

@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin/Gagalin-Regular.otf") format("opentype"); }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'UbuntuLight', Arial, Helvetica, sans-serif;
  line-height: 1.7;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.section {
  width: 100%;
  height: 100vh;
  min-height: 650px; }

.container {
  margin: 0 auto; }

a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'UbuntuMedium', Arial, Helvetica, sans-serif; }
  a:hover, a:focus {
    text-decoration: underline; }

img {
  font-size: 0;
  line-height: 0; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.head-text {
  font-family: Gagalin;
  font-weight: normal;
  font-size: 72px; }

.p-text {
  font-family: Lifehack;
  font-weight: normal; }

.background {
  background: url(../img/texture.png), url("../img/bg1.jpg") #000 100% 100%;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.btn {
  border: none;
  background-color: #e45028;
  border-radius: 6px;
  width: 100px;
  height: 37px;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: UbuntuMedium; }
  .btn:active, .btn:hover {
    background-color: #c1401e; }

.header {
  width: 100%;
  margin-top: 9px; }
  .header-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 944px;
    color: #ffffff; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto; }
  .header__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 510px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    line-height: 30px;
    text-transform: uppercase;
    margin-right: 13px; }
  .header__item {
    position: relative;
    margin-right: 26px; }
    .header__item:last-child {
      margin: 0; }
    .header__item::after {
      content: "";
      position: absolute;
      right: -20px;
      top: 12px;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: #ffffff; }
    .header__item:last-child::after {
      display: none; }

.first-look {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .first-look-container {
    max-width: 868px;
    margin-bottom: 75px;
    color: #ffffff; }
  .first-look__text {
    margin-left: 10px; }
  .first-look__head {
    line-height: 85px;
    color: #f9b43b;
    margin: 122px 0 0; }
  .first-look__p {
    font-size: 65px;
    line-height: 60px;
    margin-top: 25px; }
  .first-look__img {
    width: 451px;
    height: 424px; }
  .first-look__picture {
    margin-top: -12px;
    margin-left: -18px; }

.arrow-button {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: none;
  border-top: none;
  background-color: transparent;
  border-bottom-left-radius: 6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
  margin-bottom: 50px; }

.advantages {
  text-align: center;
  background: url("../img/adv.jpg") no-repeat 100% 100% #fff;
  width: 100%;
  min-height: 650px;
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .advantages-container {
    width: 920px; }
  .advantages__head {
    line-height: 72px;
    display: inline-block;
    margin: 0 auto 6vh; }
  .advantages__h {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px; }
  .advantages__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .advantages__item {
    width: 287px;
    text-align: center; }
  .advantages__img-box {
    height: 89px; }

.reviews {
  width: 100%;
  min-height: 650px;
  height: 100vh;
  background-color: #2f3234; }
  .reviews__button {
    background-color: #2f3234;
    width: 113px;
    line-height: 30px; }
    .reviews__button:focus, .reviews__button:hover {
      background-color: #1f2122; }
  .reviews__item {
    width: 25%;
    height: auto;
    position: relative; }
    .reviews__item-head {
      font-size: 14px;
      line-height: 28px; }
    .reviews__item-text {
      min-width: 222px; }
    .reviews__item--dark {
      width: 100%;
      height: 100%;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.6;
      display: none; }
    .reviews__item:hover .reviews__item--dark,
    .reviews__item:hover .reviews__text {
      display: block; }
  .reviews__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #2f3234; }
  .reviews__text {
    position: absolute;
    top: 8%;
    left: 8%;
    color: #fff;
    padding-right: 15px;
    display: none; }
  .reviews__img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    height: 100%; }
