//config

@import "config/_variables.scss";
@import "config/_mixins.scss";
@import "config/_normalize.scss";
@import "config/_media.scss";

// base

@import "layout/_font.scss";
@import "layout/_base.scss";
@import "layout/_adjustment.scss";

// section

@import "section/_hero.scss";
@import "section/_advantages.scss";
@import "section/_reviews.scss";
@import "section/_menu.scss";
@import "section/_map.scss";
@import "section/_footer.scss";
@import "section/_contacts.scss";
@import "section/_social.scss";
@import "section/_side-nav.scss";
@import "section/_team.scss";
@import "section/_order.scss";
@import "section/_hamburger.scss";