.advantages {
  text-align: center;
  background: url("../img/adv.jpg") no-repeat 100% 100% #fff;
  margin: 0 auto;
  background-size: cover;
  display: flex;
  align-items: center;

  &-container {
    width: rem(920px);
    display: flex;
    flex-direction: column;
  }

  &__head {
    line-height: rem(72px);
    display: inline-block;
    margin: 0 auto;
  }

  &__h {
    font-size: rem(24px);
    line-height: rem(28px);
    margin-bottom: rem(10px);
  }

  &__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6%;
    margin-bottom: 4%;
  }

  &__item {
    width: rem(287px);
    text-align: center;
  }

  &__img-box {
    height: rem(89px);
  }
}
