.head-text {
  font-family: Gagalin;
  font-weight: normal;
  font-size: rem(72px);
}

.p-text {
  font-family: Lifehack;
  font-weight: normal;
}

.background {
  background: url(../img/texture.png), url("../img/bg1.jpg") #000 100% 100%;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  border: none;
  background-color: $orange-button;
  border-radius: rem(6px);
  width: rem(100px);
  height: rem(37px);
  font-size: rem(13px);
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  font-family: UbuntuMedium;

  &:active,
  &:hover {
    background-color: $orange-button_hover;
  }
}

.header {
  width: 100%;
  margin-top: rem(9px);

  &-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(944px);
    color: $white;
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: rem(13px);
    line-height: rem(30px);
    text-transform: uppercase;
    margin-right: rem(13px);
  }

  &__item {
    position: relative;
    margin-right: rem(26px);

    &:last-child {
      margin: 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: rem(-20px);
      top: rem(12px);
      @include circle(rem(4px), $white);
    }

    &:last-child::after {
      display: none;
    }
  }
}

.first-look {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;

  &-container {
    max-width: rem(868px);
    margin-bottom: rem(75px);
    color: $white;
  }

  &__text {
    margin-left: rem(10px);
  }

  &__head {
    line-height: rem(85px);
    color: $yellow;
    margin: rem(122px) 0 0;
  }

  &__p {
    font-size: rem(65px);
    line-height: rem(60px);
    margin-top: rem(25px);
  }

  &__img {
    width: rem(451px);
    height: rem(424px);
  }

  &__picture {
    margin-top: rem(-12px);
    margin-left: rem(-18px);
  }
}

.arrow-button {
  display: block;
  margin: 0 auto;
  width: rem(20px);
  height: rem(20px);
  border-bottom: rem(2px) solid $white;
  border-left: rem(2px) solid $white;
  border-right: none;
  border-top: none;
  background-color: transparent;
  border-bottom-left-radius: rem(6px);
  transform: rotate(-45deg);
  cursor: pointer;
  margin-bottom: rem(50px);
}
