.order-container {
    text-align: center;
}

.order {
    background: url(../img/order-bg.jpg) no-repeat center;
    background-size: cover;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__fieldset {
        @include tablets() {
            width: 66vw;
        }
    }

    &__head {
        color: $yellow;
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 5vh;
        @include tablets() {
            line-height: rem(77px); 
        }
    }

    &__form {
        color: $white;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        max-width: 940px;
        text-align: left;
        @include tablets() {
            flex-direction: column;
            align-items: center;
        }
    }

    &__left {
        align-content: flex-start;
        margin-right: 1.7vw;
        @include tablets() {
            margin: 0;
        }
        
        .order__input {
            height: 38px;
            margin-bottom: 18px;

            &:focus, &:active {
                box-shadow: inset 0 0 0 3px $yellow;
            }
        }
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }

    &__radio-group {
        justify-content: flex-start;
    }

    &__buttons-group {
        justify-content: flex-start;
    }

    &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 3px;
    }

    &__label {
        width: 48%;

        &--full-stroke {
            width: 100%;
        }

        &--number {
            width: 22%;
        }

        &--comment {
            width: 100%;
        }
    }

    &__height-field {
        max-height: 72px;
    }

    &__comment {
        min-height: 110px;
        margin-bottom: 3px;
        
        &:focus, &:active {
            box-shadow: inset 0 0 0 3px $yellow;
        }
    }
    &__radio {
        display: none;
    }

    &__radio-custom {
        position: relative;
        width: 17px;
        height: 17px;
        background-color: $white;
        float: left;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__radio:checked + &__radio-custom::after {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        top: calc(50% - 3.5px);
        left: calc(50% - 3.5px);
        background-color: $orange-button;
        border-radius: 50%
    }

    &__checkbox {
        display: none;
    }

    &__checkbox-custom {
        position: relative;
        width: 17px;
        height: 17px;
        background-color: $white;
        float: left;
        margin-right: 10px;
    }

    &__checkbox:checked + &__checkbox-custom::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 8px;
        top: 4px;
        left: 2px;
        border: 4px solid $orange-button;
        border-top: none;
        border-right: none;
        border-radius: 3px;
        transform: rotate(-45deg);
    }

    &__pay {
        margin-right: 25px;
    }

    &__not-call {
        width: 100%;
    }

    &__custom {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 14px;
    }

    &__reset {
        border: 0;
        background-color: transparent;
        color: $white;
        margin-left: 10px;
        cursor: pointer;
    }
}