.social {
    margin-bottom: 5px;
    text-align: right;
    margin-left: auto;
    align-self: center;
    margin-right: rem(80px);

    @include tablets() {
        min-width: 164px;
    }

    @include phones() {
        margin: 0;
        margin-bottom: 20px;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
    }
  
    .social__icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        fill: rgba(255, 255, 255, .3);
        width: 25px;
        height: 25px;
        cursor: pointer;

        &:hover {
            fill: rgba(255, 255, 255, 1);
        }
        &:first-child {
            margin-left: 0;
        }

        @include tablets() {
            width: 22px;
            height: 22px;
        }
    }
}