/* --------- responsive mixins --------- */
.section {
  height: 100%;
  min-height: 650px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: 100%;
      height: 100vh; } }

.section__title {
  color: #f9b43b;
  font-size: 72px;
  margin-bottom: 12px; }
  .section__title.section__title_black {
    color: #000; }
  .section__title.section__title_white {
    color: #000; }

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%; }

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-acco__item {
  height: 100%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu-acco__item.active .menu-acco__trigger-text {
    color: #f9b43b; }

.menu-acco__trigger {
  width: 80px;
  display: block;
  height: 100%;
  text-decoration: none;
  position: relative; }
  @media screen and (max-width: 480px) {
    .menu-acco__trigger {
      width: 50px; } }

.menu-acco__trigger-text {
  font-size: 40px;
  color: #000;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: -20px; }
  @media screen and (max-width: 480px) {
    .menu-acco__trigger-text {
      font-size: 26px; } }

.menu-acco__content {
  height: 100%;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden; }

.menu-acco__text {
  font-size: 14px;
  color: #fff;
  padding: 60px 30px;
  width: 100%;
  line-height: 1.8;
  display: none; }
  @media screen and (max-width: 480px) {
    .menu-acco__text {
      padding: 25px 15px; } }
