@font-face {
  font-family: 'UbuntuMedium';
  src: url("../fonts/fonts/UbuntuMedium.eot");
  src: url("../fonts/fonts/UbuntuMedium.eot") format('embedded-opentype'), url("../fonts/fonts/UbuntuMedium.woff2") format('woff2'), url("../fonts/fonts/UbuntuMedium.woff") format('woff'), url("../fonts/fonts/UbuntuMedium.ttf") format('truetype'), url("../fonts/fonts/UbuntuMedium.svg#UbuntuMedium") format('svg');
}
@font-face {
  font-family: 'UbuntuB';
  src: url("../fonts/fonts/UbuntuB.eot");
  src: url("../fonts/fonts/UbuntuB.eot") format('embedded-opentype'), url("../fonts/fonts/UbuntuB.woff2") format('woff2'), url("../fonts/fonts/UbuntuB.woff") format('woff'), url("../fonts/fonts/UbuntuB.ttf") format('truetype'), url("../fonts/fonts/UbuntuB.svg#UbuntuB") format('svg');
}
@font-face {
  font-family: 'UbuntuLight';
  src: url("../fonts/fonts/UbuntuLight.eot");
  src: url("../fonts/fonts/UbuntuLight.eot") format('embedded-opentype'), url("../fonts/fonts/UbuntuLight.woff2") format('woff2'), url("../fonts/fonts/UbuntuLight.woff") format('woff'), url("../fonts/fonts/UbuntuLight.ttf") format('truetype'), url("../fonts/fonts/UbuntuLight.svg#UbuntuLight") format('svg');
}
@font-face {
  font-family: 'UbuntuRegular';
  src: url("../fonts/fonts/UbuntuRegular.eot");
  src: url("../fonts/fonts/UbuntuRegular.eot") format('embedded-opentype'), url("../fonts/fonts/UbuntuRegular.woff2") format('woff2'), url("../fonts/fonts/UbuntuRegular.woff") format('woff'), url("../fonts/fonts/UbuntuRegular.ttf") format('truetype'), url("../fonts/fonts/UbuntuRegular.svg#UbuntuRegular") format('svg');
}
@font-face {
  font-family: "Lifehack";
  src: url("../fonts/LifehackMedium.otf") format("opentype");
}
@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin/Gagalin-Regular.otf") format("opentype");
}
